nav {

    background-color: #e3f2fd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;


}

nav a {

    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 10px;

}

nav a:hover {

    color: #ccc;

}

nav .online-status {

    color: #ccc;
    font-size: 0.8rem;
    font-weight: normal;

}

nav .online-status .online {

    color: green;

}

nav .online-status .offline {

    color: red;

}

nav .online-status img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
}

.status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.search input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

p{
    margin: 0;
    padding: 0;
    color: #000;
}