<footer>
    <!-- don't use bootstrap please -->
    <div class="container">
        <div class="social">
            <a href="https://www.facebook.com/">facebook</a>
            <a href="https://twitter.com/">twitter</a>
            <a href="https://www.instagram.com/">instagram</a>
            <a href="https://www.youtube.com/">youtube</a>
        </div>
        <div class="links">
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
            <a routerLink="/privacy">Privacy</a>
            <a routerLink="/terms">Terms</a>

        </div>
    </div>
    <div class="copy">
        <p>© 2018 - All Rights Reserved</p>
    </div>
</footer>