<div class="container">
    <div class="card">
        <div class="header">
            <!-- string interpolation -->
            {{title}}
        </div>
        <img [src]="imageUrl" [alt]="imageDescription" width="100%" height="100%">
        <button [disabled]="buttonDisabled" (click)="share($event)">Share</button>
    </div>
    <div class="card">
        <div class="header">
            <!-- string interpolation -->
            {{title}}
        </div>
        <img [src]="imageUrl" [alt]="imageDescription" width="100%" height="100%">
        <button [disabled]="buttonDisabled" (click)="share($event)">Share</button>
    </div>
    <div class="card">
        <div class="header">
            <!-- string interpolation -->
            {{title}}
        </div>
        <img [src]="imageUrl" [alt]="imageDescription" width="100%" height="100%">
        <button [disabled]="buttonDisabled" (click)="share($event)">Share</button>
    </div>
</div>